server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders: "*"

      routes:
        # --- Resource Service ---
        - id: resource-service
          uri: ${RESOURCE_URI:http://localhost:8081}
          predicates:
            - Path=/api/resources/**

        # --- Pricing Service ---
        - id: pricing-service
          uri: ${PRICING_URI:http://localhost:8082}
          predicates:
            - Path=/api/pricing/**

        # --- Booking Service ---
        - id: booking-service
          uri: ${BOOKING_URI:http://localhost:8083}
          predicates:
            - Path=/api/bookings/**